.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.mb-40{
    margin-bottom: 40px;
}

.center{
    text-align: center!important;
}

.light-color{
    color: #70757a!important;
}

.extra1_container{
background: #e2e2e2;
padding: 2.5em 1em;
}

.padding_left_12
{
 padding-left:12%;
}

.extra1-post{
    position: relative;
}

.extra1-post .extra1-post-img{
    display: inline-block;
    height: 100px;
    width: 100px;
}

.extra1-post .extra1-post-img img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {
.padding_left_12
{
 padding-left:0 !important;
}

}