.callback_modal{

    font-family: 'Open Sans', sans-serif;
  
}

@media (max-width:600px) {  
  .call_back_fixed_button{
    right: -35px !important;
    font-size:10px !important;
    padding: 6px 15px !important;
}
}

.call_back_fixed_button{
    color: white !important;
    background-color: #0d1163 !important;
    z-index: 1000;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    right: -48px;
    top: 50%;
    font-size:20px;
    position: fixed;
    display:block
}

.call_back_fixed_button {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.call_back_fixed_button {
  font-family: Monoton;
}

.call_back_fixed_button:hover {
  color: #FF1177;
}



.call_back_fixed_button:hover {
  color: #ffffff;
}
