
.query_form
{
color: #191919;
font-size: 18px!important;
}

.form_success_msg{
margin-top:5px;
text-align:center;
text-transform:uppercase;
font-size:18px;
font-weight:bold;
}

.callback_button
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: rgba(255,255,255, 1);
    width: 30%;
    float:inherit;
    height:40px;
    border: none;
    border-radius: 20px;
    background-color: #18d26e;
    left: 0px;
    top: 0px;
    -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

.callback_button:hover{
	background: #191919;
}

@media(max-width: 500px){
	.callback_button{
		width: 100%;
	}
}






.container_loading {
	z-index: 999;
	height: 2em;
	width: 15em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.bar {
	width: 10px;
	height: 2px;
	margin-right: 4px;
	display: inline-block;
	background-color: #7B5DED;
}

.progress {
	width: 172px;
	height: 5px;
	display: block;
	background-color: #7B5DED;
	position: relative;
	top: 10px;
	animation-name: Progress;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0S;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes Progress {
	0% {
		width: 0px;
	}

	100% {
		width: 172px;
	}
}

.bar1 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.03s;
}

.bar2 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.06s;
}

.bar3 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.09s;
}

.bar4 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.12s;
}

.bar5 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.15s;
}

.bar6 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.18s;
}

.bar7 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.21s;
}

.bar8 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.24s;
}

.bar9 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.27s;
}

.bar10 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.3s;
}

@keyframes Bar {
	0% {
		background-color: #7B5DED;
		transform: scaleY(0.5);
	}

	100% {
		transform: scaleY(10);
	}
}