a {
  text-decoration: none;
}

.control ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.control ul li {
  width: 70%;
  margin: 0 2%;
  margin-bottom: 50px;
}

.control ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control ul li .team-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* Fake content for size */
.control ul li .team-img::before {
  display: block;
  padding-bottom: 100%;
  content: '';
}

/* Border gradient */
.control ul li .team-img::after {
  position: absolute;
  width: 100%;
  height: 100%; 
  top: -100%;
  left: -100%;
  border-radius: 50%;
  background-color: #FFCC03;
  content: '';
  z-index: -1;
  transition: 0.5s;
}

/* Image border */
.control ul li .team-img .front,
.control ul li .team-img .back {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
}

/* Center img */
.control ul li .team-img .front img,
.control ul li .team-img .back img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.control ul li .team-img .back {
  opacity: 0;
  transition: all 0s 0.15s;
  transform: ratateY(180deg);
}

.control ul li a:hover .team-img {
  transform: rotateY(180deg);
}

.control ul li a:hover .team-img::after {
  top: 0;
  left: 0;
}

.control ul li a:hover .team-img .back {
  opacity: 1;
}

.ev_button
{

    border-radius: 20px;
    font-weight: bold;
    width: 150px;
    font-size: 1rem;
    background-color: #ffc107;
    border-color: #ffc107;

}

.card-box-b{
	height: 230px;
	box-shadow: 2px 2px 8px #e2e2e2;
	border-radius: 5px;
	margin-top: 30px;
}

.card-box-b:hover{
	cursor: pointer;
}
 
.event_heading{
font-size: 32px;
    font-weight: 600;
    background-color: #FFCC03;
    display: inline-block;
    line-height: 1;
    padding: 12px 35px 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}

@media screen and (max-width: 900px){

.on_small_padding_0
{
 padding:0 !important;
}
}


.container_loading {
	z-index: 999;
	height: 2em;
	width: 15em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.bar {
	width: 10px;
	height: 2px;
	margin-right: 4px;
	display: inline-block;
	background-color: #7B5DED;
}

.progress {
	width: 172px;
	height: 5px;
	display: block;
	background-color: #7B5DED;
	position: relative;
	top: 10px;
	animation-name: Progress;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0S;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes Progress {
	0% {
		width: 0px;
	}

	100% {
		width: 172px;
	}
}

.bar1 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.03s;
}

.bar2 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.06s;
}

.bar3 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.09s;
}

.bar4 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.12s;
}

.bar5 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.15s;
}

.bar6 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.18s;
}

.bar7 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.21s;
}

.bar8 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.24s;
}

.bar9 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.27s;
}

.bar10 {
	animation-name: Bar;
	animation-duration: 800ms;
	animation-timing-function: cubic- bezier(0.54, -0.01, 0.42, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: both;
	animation-delay: 0.3s;
}

@keyframes Bar {
	0% {
		background-color: #7B5DED;
		transform: scaleY(0.5);
	}

	100% {
		transform: scaleY(10);
	}
}

.blog_tab_container{
margin-top: 10px;
text-align: center;
} 