.main{
  max-width: 1200px;
  margin: 0 auto;
  padding:2rem;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card_image img {
  height:11rem;
  width: 100%;
  vertical-align: middle;
}

.card_btn {
  color: black;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #ffc107;
}

.card_btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content:normal;
}

.cards_item {
  display: flex;
  padding: 0.5rem;
  margin:0 !important;
  cursor:pointer;  
}

@media (max-width: 39rem) {
.cards_item {
    width: 100%;
  }
  .main {
    padding: 0.5rem;
    height:400px;
  }
  .carouel_jumbo_height1 
  {
    height:500px;
  }
  
  .main .carousel
  {
  height:400px;
  }
  
  .main .carousel .carousel-indicators li
  {
   background-color: black;
  }
}
.carousel .carousel-indicators li
  {
   background-color: black;
  }

@media (min-width: 40rem) {

.main {
    max-width: 1400px;
    padding: 1rem 8rem;
  }

  .cards_item {
    width: 50%;
  }
  .carouel_jumbo_height1 
  {
    height:500px;
  }
  
  .carousel
  {
    height:450px;
  }
  .carousel .carousel-indicators li
  {
   background-color: black;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

.card {
  width:100%;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}

.card:hover
{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}


.card_content {
  padding: 1rem;
  background: white;
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.track_image_heading1
{
font-weight:bold;
font-size:22px;
  text-align: center;
  font-family: fantasy;
  margin-top:1em;
  margin-bottom:0;
}
.track_image_heading2
{
font-weight:bold;
font-size:22px;
  text-align: center;
  font-family: fantasy;
  margin-top:1em;
  margin-bottom:0;
}

.view_all_div
{
 text-align:center;
 margin-top:20px !important;
 margin-bottom:50px !important;
}
.col_pad_track
{
padding:0 !important;
}

.difficulty_label_top {
    text-transform:uppercase;
    position: absolute;
    color: #fff;
    background-color: #2D2D2D;
    top: -5px;
    padding-right:10px;
    padding-left:10px;
    padding-top:6px;
    padding-bottom:3px;
    
}

@media screen and (min-width: 801px) {
.pad_cen
{
padding: 1% 20%;
}
}

.border_color{
border-bottom: 2px solid #FF5733;
border-top: 2px solid #FF5733;
}